In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats as ss
import itertools 
from collections import Counter
from dython.nominal import associations

%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

Naše dáta obsahujú viac ako 100 MB záznamov, mnohé kategorické premenné a pod. a preto si potrebujeme najprv upraviť dataset, predpripraviť ho na použitie a následne importovat do našej navrdhnutej siete.

Ako výsledok dosiahneme očistené transformované dáta od outlierov, nepresných hodnôt a použijeme subset dát na základe kritérií, ktorý si následne vzesportujeme do csv pre daľšie použitie.

Aby sme mohli pracovat s datami, spravit korelaciu a podobne potrebujeme prerobit cely dataset na numericke hodnoty

Nase data budu obsahovat, ze

END result will get 2 files: one csv, and other npy encoded

In [4]:
# načítanie povodného súboru do premennje file sktorou budeme pracovat
file = pd.read_csv("database.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
# skontrolujeme aký tvar má databáza, s ktorou budeme pracovať
file.shape

(638454, 24)

In [6]:
# vidíme, že Peretrator Age zaradilo ako objekt napriek tomu, že to má byť int. 
# Indikuje chýbajúce hodonoty alebo hodoty nie int 
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638454 entries, 0 to 638453
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Record ID              638454 non-null  int64
 1   Agency Code            638454 non-null  object
 2   Agency Name            638454 non-null  object
 3   Agency Type            638454 non-null  object
 4   City                   638454 non-null  object
 5   State                  638454 non-null  object
 6   Year                   638454 non-null  int64
 7   Month                  638454 non-null  object
 8   Incident               638454 non-null  int64
 9   Crime Type             638454 non-null  object
 10  Crime Solved           638454 non-null  object
 11  Victim Sex             638454 non-null  object
 12  Victim Age             638454 non-null  int64
 13  Victim Race            638454 non-null  object
 14  Victim Ethnicity       638454 non-null  object
 15  Perpetrator Sex        638454 non-null  object
 16  Perpetrator Age        638454 non-null  object
 17  Perpetrator Race       638454 non-null  object
 18  Perpetrator Ethnicity  638454 non-null  object
 19  Relationship           638454 non-null  object
 20  Weapon                 638454 non-null  object
 21  Victim Count           638454 non-null  int64
 22  Perpetrator Count      638454 non-null  int64
 23  Record Source          638454 non-null  object
dtypes: int64(6), object(18)
memory usage: 116.9+ MB

In [7]:
# Premenima na numerical s tým, že nenumerická hodnota sa nahradí NaM
file['Perpetrator Age']=pd.to_numeric(file['Perpetrator Age'], errors='coerce')

In [8]:
# vidime, ze mame jened NaN, ten riadok mozeme dropnut
file.isnull().sum()

Record ID                0
Agency Code              0
Agency Name              0
Agency Type              0
City                     0
State                    0
Year                     0
Month                    0
Incident                 0
Crime Type               0
Crime Solved             0
Victim Sex               0
Victim Age               0
Victim Race              0
Victim Ethnicity         0
Perpetrator Sex          0
Perpetrator Age          1
Perpetrator Race         0
Perpetrator Ethnicity    0
Relationship             0
Weapon                   0
Victim Count             0
Perpetrator Count        0
Record Source            0
dtype: int64

In [9]:
file = file.dropna()

In [12]:
file.describe()

,Record ID,Year,Incident,Victim Age,Perpetrator Age,Victim Count,Perpetrator Count
count,638453.000000,638453.000000,638453.000000,638453.000000,638453.000000,638453.000000,638453.000000
mean,319227.005932,1995.801074,22.967797,35.033495,20.322697,0.123334,0.185224
std,184305.660258,9.927675,92.149837,41.628336,17.886842,0.537734,0.585496
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,159614.000000,1987.000000,1.000000,22.000000,0.000000,0.000000,0.000000
50%,319227.000000,1995.000000,2.000000,30.000000,21.000000,0.000000,0.000000
75%,478840.000000,2004.000000,10.000000,42.000000,31.000000,0.000000,0.000000
max,638454.000000,2014.000000,999.000000,998.000000,99.000000,10.000000,10.000000

In [13]:
# Victime age Max je 998, co je divné čislo, preto odstránime všetkz riadky co majú 998 ako hodnotu
file[file['Victim Age'] == 998].shape[0]

974

In [14]:
temp_to_delete = []
for x,y in zip(file['Record ID'],file['Victim Age']):
    if y==998:
        temp_to_delete.append(x-1)

In [15]:
file = file.drop(labels=temp_to_delete, axis=0)

In [16]:
file[file['Victim Age'] == 998].shape[0]

0

In [17]:
# Uz to vyzera lepse ale stale nedostacujuce
file.describe()

,Record ID,Year,Incident,Victim Age,Perpetrator Age,Victim Count,Perpetrator Count
count,637479.000000,637479.000000,637479.000000,637479.000000,637479.000000,637479.000000,637479.000000
mean,319114.355631,1995.795041,22.987975,33.562185,20.338024,0.123303,0.185308
std,184278.864201,9.925972,92.213602,17.792601,17.885289,0.537756,0.585502
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,159530.500000,1987.000000,1.000000,22.000000,0.000000,0.000000,0.000000
50%,319054.000000,1995.000000,2.000000,30.000000,21.000000,0.000000,0.000000
75%,478706.500000,2004.000000,10.000000,42.000000,31.000000,0.000000,0.000000
max,638454.000000,2014.000000,999.000000,99.000000,99.000000,10.000000,10.000000

In [20]:
# Incident Max je 999, co je divné čislo, preto odstránime všetky riadky co majú 99 ako hodnotu
file[file['Incident'] == 999].shape[0]

16

In [26]:
temp_to_delete.clear()
for x,y in zip(file['Record ID'],file['Incident']):
    if y==999:
        temp_to_delete.append(x-1)

In [27]:
temp_to_delete

[420921,
 437186,
 453603,
 470022,
 486417,
 503368,
 520240,
 521240,
 537536,
 552928,
 568295,
 583061,
 594711,
 595711,
 599658,
 627946]

In [29]:
print(file.loc[[420921]])

        Record ID Agency Code Agency Name    Agency Type  City    State  Year  \
420921     420922     FL01300  Miami-Dade  County Police  Dade  Florida  2001

        Month  Incident              Crime Type  ... Victim Ethnicity  \
420921  April       999  Murder or Manslaughter  ...          Unknown

       Perpetrator Sex  Perpetrator Age Perpetrator Race  \
420921         Unknown              0.0          Unknown

       Perpetrator Ethnicity Relationship   Weapon Victim Count  \
420921               Unknown      Unknown  Handgun            0

       Perpetrator Count Record Source
420921                 0          FOIA

[1 rows x 24 columns]

In [34]:
previous_city = ""
previous_year = 0
previous_month = ''
previous_incident =0
new_file = []
for record, city, year, month, incident in zip(file['Record ID'],file['City'], file['Year'], file['Month'], file['Incident']):
    if (city == previous_city) and (year == previous_year) and (month == previous_month):
            previous_city = city
            previous_year = year
            previous_month = month
            continue
    else:
        previous_city = city
        previous_year = year
        previous_month = month
        new_file.append(record-1)

In [35]:
new_file

[0,
 1,
 3,
 5,
 7,
 10,
 13,
 16,
 17,
 18,
 19,
 20,
 22,
 23,
 24,
 25,
 26,
 29,
 30,
 31,
 32,
 35,
 37,
 41,
 45,
 47,
 48,
 49,
 50,
 51,
 52,
 55,
 58,
 59,
 60,
 61,
 62,
 63,
 65,
 67,
 69,
 71,
 73,
 84,
 91,
 98,
 103,
 108,
 115,
 124,
 135,
 138,
 149,
 156,
 166,
 167,
 168,
 170,
 172,
 173,
 175,
 176,
 177,
 180,
 181,
 184,
 185,
 188,
 191,
 197,
 200,
 205,
 209,
 215,
 221,
 224,
 226,
 232,
 239,
 243,
 246,
 247,
 249,
 252,
 253,
 255,
 256,
 258,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 272,
 275,
 279,
 282,
 285,
 287,
 291,
 292,
 294,
 300,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 330,
 331,
 333,
 335,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 345,
 349,
 350,
 351,
 352,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 371,
 372,
 374,
 375,
 376,
 377,
 379,
 381,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 393,
 394,
 398,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 411,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 430,
 432,
 434,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 451,
 452,
 453,
 454,
 455,
 457,
 460,
 463,
 465,
 468,
 470,
 473,
 474,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 487,
 489,
 490,
 491,
 492,
 493,
 494,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 507,
 508,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 521,
 522,
 523,
 524,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 541,
 542,
 544,
 545,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 570,
 571,
 572,
 573,
 574,
 575,
 578,
 579,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 642,
 643,
 644,
 645,
 646,
 648,
 649,
 651,
 653,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 681,
 686,
 688,
 690,
 692,
 693,
 695,
 701,
 704,
 712,
 718,
 720,
 722,
 725,
 730,
 733,
 735,
 738,
 739,
 740,
 743,
 744,
 745,
 746,
 747,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 759,
 760,
 761,
 762,
 763,
 764,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 799,
 802,
 804,
 805,
 806,
 807,
 813,
 817,
 819,
 820,
 821,
 822,
 823,
 824,
 826,
 828,
 830,
 831,
 833,
 834,
 835,
 837,
 838,
 839,
 840,
 841,
 851,
 861,
 869,
 881,
 890,
 896,
 905,
 911,
 919,
 928,
 936,
 947,
 948,
 950,
 951,
 953,
 954,
 955,
 958,
 959,
 961,
 962,
 963,
 964,
 965,
 966,
 968,
 969,
 970,
 971,
 973,
 974,
 975,
 976,
 977,
 979,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 993,
 995,
 997,
 1001,
 1006,
 1010,
 1011,
 1012,
 1016,
 1018,
 1021,
 1025,
 1026,
 1028,
 1029,
 1030,
 1032,
 1033,
 1034,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1049,
 1053,
 1054,
 1055,
 1058,
 1059,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1072,
 1073,
 1074,
 1075,
 1079,
 1081,
 1084,
 1085,
 1086,
 1087,
 1088,
 1090,
 1091,
 1092,
 1093,
 1095,
 1096,
 1098,
 1099,
 1100,
 1101,
 1103,
 1105,
 1117,
 1123,
 1137,
 1144,
 1152,
 1162,
 1172,
 1189,
 1204,
 1210,
 1223,
 1241,
 1242,
 1243,
 1244,
 1245,
 1246,
 1247,
 1248,
 1249,
 1251,
 1252,
 1253,
 1254,
 1255,
 1256,
 1257,
 1258,
 1259,
 1260,
 1261,
 1262,
 1263,
 1264,
 1265,
 1266,
 1267,
 1268,
 1269,
 1270,
 1271,
 1272,
 1273,
 1274,
 1277,
 1278,
 1280,
 1281,
 1282,
 1283,
 1285,
 1287,
 1288,
 1290,
 1291,
 1293,
 1294,
 1296,
 1298,
 1299,
 1300,
 1302,
 1303,
 1306,
 1309,
 1311,
 1312,
 1314,
 1315,
 1316,
 1317,
 1318,
 1319,
 1320,
 1321,
 1322,
 1323,
 1324,
 1326,
 1327,
 1328,
 1329,
 1330,
 1331,
 1332,
 1337,
 1342,
 1346,
 1347,
 1353,
 1356,
 1360,
 1364,
 1366,
 1367,
 1372,
 1373,
 1374,
 1375,
 1376,
 1385,
 1386,
 1390,
 1391,
 1398,
 1402,
 1407,
 1413,
 1417,
 1428,
 1429,
 1430,
 1432,
 1433,
 1434,
 1435,
 1436,
 1437,
 1438,
 1439,
 1440,
 1443,
 1444,
 1445,
 1446,
 1447,
 1448,
 1450,
 1451,
 1452,
 1453,
 1454,
 1456,
 1457,
 1458,
 1459,
 1460,
 1461,
 1462,
 1463,
 1464,
 1465,
 1466,
 1467,
 1468,
 1469,
 1470,
 1472,
 1473,
 1475,
 1476,
 1483,
 1484,
 1492,
 1496,
 1500,
 1501,
 1506,
 1513,
 1516,
 1519,
 1523,
 1529,
 1531,
 1532,
 1533,
 1535,
 1541,
 1543,
 1545,
 1547,
 1548,
 1552,
 1553,
 1555,
 1556,
 1557,
 1560,
 1561,
 1562,
 1563,
 1564,
 1565,
 1566,
 1568,
 1569,
 1570,
 1571,
 1572,
 1573,
 1574,
 1575,
 1576,
 1579,
 1580,
 1581,
 1594,
 1612,
 1626,
 1636,
 1652,
 1664,
 1687,
 1707,
 1727,
 1744,
 1765,
 1781,
 1782,
 1784,
 1785,
 1786,
 1787,
 1788,
 1789,
 1790,
 1791,
 1793,
 1795,
 1796,
 1799,
 1800,
 1801,
 1802,
 1803,
 1804,
 1805,
 1808,
 1809,
 1810,
 1811,
 1812,
 1814,
 1815,
 1817,
 1818,
 1819,
 1820,
 1821,
 1822,
 1823,
 1824,
 1828,
 1836,
 1840,
 1843,
 1850,
 1857,
 1860,
 1863,
 1866,
 1869,
 1878,
 1881,
 1882,
 1884,
 1885,
 1886,
 1887,
 1888,
 1889,
 1890,
 1891,
 1895,
 1896,
 1898,
 1899,
 1901,
 1902,
 1903,
 1906,
 1907,
 1908,
 1909,
 1910,
 1911,
 1913,
 1915,
 1916,
 1917,
 1919,
 1921,
 1922,
 1924,
 1925,
 1927,
 1929,
 1930,
 1931,
 1932,
 1933,
 1935,
 1937,
 1938,
 1939,
 1943,
 1944,
 1945,
 1948,
 1949,
 1950,
 1952,
 1953,
 1955,
 1956,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1967,
 1971,
 1975,
 1978,
 1982,
 1988,
 1994,
 1999,
 2005,
 2007,
 2010,
 2015,
 2016,
 2018,
 2019,
 2020,
 2021,
 2022,
 2024,
 2027,
 2028,
 2029,
 2030,
 2037,
 2042,
 2047,
 2051,
 2057,
 2063,
 2076,
 2090,
 2097,
 2110,
 2117,
 2122,
 2124,
 2126,
 2127,
 2128,
 2130,
 2132,
 2135,
 2139,
 2141,
 2145,
 2149,
 2151,
 2217,
 2280,
 2338,
 2419,
 2486,
 2586,
 2684,
 2807,
 2902,
 2992,
 3075,
 3170,
 3172,
 3173,
 3175,
 3177,
 3181,
 3185,
 3187,
 3188,
 3189,
 3190,
 3191,
 3192,
 3193,
 3194,
 3195,
 3196,
 ...]

In [36]:
max_crimes_in_period_of_time = file[file.index.isin(new_file)]

In [41]:
max_crimes_in_period_of_time.head(25)

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,...,Unknown,Male,15.0,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI
1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,...,Unknown,Male,42.0,White,Unknown,Acquaintance,Strangulation,0,0,FBI
3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,...,Unknown,Male,42.0,White,Unknown,Acquaintance,Strangulation,0,0,FBI
5,6,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,May,1,Murder or Manslaughter,...,Unknown,Male,36.0,White,Unknown,Acquaintance,Rifle,0,0,FBI
7,8,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,June,1,Murder or Manslaughter,...,Unknown,Male,35.0,White,Unknown,Wife,Knife,0,0,FBI
10,11,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,July,1,Murder or Manslaughter,...,Unknown,Unknown,0.0,Unknown,Unknown,Unknown,Unknown,0,1,FBI
13,14,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,August,1,Murder or Manslaughter,...,Unknown,Male,49.0,White,Unknown,Unknown,Fall,0,0,FBI
16,17,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,December,1,Murder or Manslaughter,...,Unknown,Male,19.0,Unknown,Unknown,Acquaintance,Knife,0,0,FBI
17,18,AK00103,Juneau,Municipal Police,Juneau,Alaska,1980,November,1,Murder or Manslaughter,...,Unknown,Male,23.0,Native American/Alaska Native,Unknown,Brother,Blunt Object,0,1,FBI
18,19,AK00106,Nome,Municipal Police,Nome,Alaska,1980,June,1,Murder or Manslaughter,...,Unknown,Male,33.0,Native American/Alaska Native,Unknown,Acquaintance,Handgun,0,0,FBI
19,20,AK00113,Bethel,Municipal Police,Bethel,Alaska,1980,February,1,Murder or Manslaughter,...,Unknown,Male,35.0,Native American/Alaska Native,Unknown,Brother,Handgun,0,0,FBI
20,21,AK00118,North Slope Borough,County Police,North Slope,Alaska,1980,August,1,Murder or Manslaughter,...,Unknown,Male,29.0,Unknown,Unknown,Stepdaughter,Rifle,2,0,FBI
22,23,AK00118,North Slope Borough,County Police,North Slope,Alaska,1980,June,1,Murder or Manslaughter,...,Unknown,Male,26.0,Unknown,Unknown,Acquaintance,Knife,0,0,FBI
23,24,AK00118,North Slope Borough,County Police,North Slope,Alaska,1980,July,1,Manslaughter by Negligence,...,Unknown,Male,41.0,Unknown,Unknown,Wife,Blunt Object,0,0,FBI
24,25,AK00118,North Slope Borough,County Police,North Slope,Alaska,1980,August,1,Murder or Manslaughter,...,Unknown,Male,29.0,Unknown,Unknown,Stepdaughter,Rifle,2,0,FBI
25,26,AK00123,Kenai,Municipal Police,Kenai Peninsula,Alaska,1980,February,1,Murder or Manslaughter,...,Unknown,Male,42.0,White,Unknown,Wife,Handgun,0,0,FBI
26,27,AKASP00,Alaska State Police,State Police,Juneau,Alaska,1980,February,1,Murder or Manslaughter,...,Unknown,Unknown,0.0,Unknown,Unknown,Unknown,Handgun,0,0,FBI
29,30,AKASP00,Alaska State Police,State Police,Juneau,Alaska,1980,April,1,Murder or Manslaughter,...,Unknown,Male,61.0,Native American/Alaska Native,Unknown,Unknown,Shotgun,0,0,FBI
30,31,AKASP00,Alaska State Police,State Police,Juneau,Alaska,1980,May,1,Murder or Manslaughter,...,Unknown,Male,25.0,White,Unknown,Brother,Rifle,0,0,FBI
31,32,AKASP00,Alaska State Police,State Police,Juneau,Alaska,1980,June,1,Manslaughter by Negligence,...,Unknown,Male,7.0,Asian/Pacific Islander,Unknown,Sister,Rifle,0,0,FBI
32,33,AKASP00,Alaska State Police,State Police,Juneau,Alaska,1980,July,1,Murder or Manslaughter,...,Unknown,Unknown,0.0,Unknown,Unknown,Unknown,Unknown,0,0,FBI
35,36,AKASP00,Alaska State Police,State Police,Juneau,Alaska,1980,August,1,Murder or Manslaughter,...,Unknown,Male,17.0,Native American/Alaska Native,Unknown,Unknown,Rifle,0,0,FBI
37,38,AKASP00,Alaska State Police,State Police,Juneau,Alaska,1980,October,1,Murder or Manslaughter,...,Unknown,Male,28.0,Native American/Alaska Native,Unknown,Acquaintance,Rifle,0,0,FBI
41,42,AKASP00,Alaska State Police,State Police,Juneau,Alaska,1980,November,1,Murder or Manslaughter,...,Unknown,Male,43.0,White,Unknown,Friend,Handgun,0,0,FBI
45,46,AKASP00,Alaska State Police,State Police,Juneau,Alaska,1980,December,1,Murder or Manslaughter,...,Unknown,Male,23.0,Native American/Alaska Native,Unknown,Friend,Knife,0,0,FBI

In [43]:
max_crimes_in_period_of_time[max_crimes_in_period_of_time['Incident'] == 1].shape[0]

249989

In [42]:
file[file['Incident'] == 1].shape[0]

265034

In [44]:
file['Month'].value_counts()

July         58595
August       57990
December     55086
September    54045
June         53579
October      53561
May          53326
January      52863
March        51366
April        51123
November     49923
February     46022
Name: Month, dtype: int64

In [45]:
max_crimes_in_period_of_time['Month'].value_counts()

July         23828
August       23679
December     22915
October      22637
September    22592
June         22508
May          22439
January      22349
March        22039
April        21874
November     21631
February     20377
Name: Month, dtype: int64